* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box; 
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}
.cabeca{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    width: 100%;
}

.corB{
    background-color: black;
    color: white;
    border: none;
    font-size: 60px 

}
.menu{
    margin-left: 10px;
    cursor: pointer;
}
.lupa{
    font-size: 30px ;
    padding-right: 40px;
    cursor: pointer;
    
}

.a0{
    position: absolute;
    top:3%;
    left:7%;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;

}
.cabeca p{
    position: absolute;
    margin-left: 70px;
    margin-top: 50px ;
    margin-bottom: 20px;
    font-size: 10px;

}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../imagem/logo1.png');
    background-size: cover;
    background-position: center;
    height: 360px;
    width: 100%;
}
.logo2{
    background-image: url('../imagem/logo2.png');
    background-size: cover;
    background-position: center;
    height: 195px;
    width: 200px;
    border: solid black;
}
.logo h3{
    color: white;
}
nav{
    width: 100%;
    justify-items: center;
    border-bottom: solid 1px;
}
ul{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 80px;
}
li{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}
li:hover{
    background-color: skyblue;
}

li a:hover{

    font-weight: bold;

}
ul li{
    width: 247px;
    height: 42;
}

a{
    color: inherit;
    text-decoration: none;
}
.pzatra{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding:20px;
}
.bebidas{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 20px 20px 20px;
    margin-top: 0%;
}
.cal1{
    background-image: url('../imagem/calabresa.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.fra1{
    background-image: url('../imagem/frango.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.fei{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width:500px;
    height: 120px;
    padding: 5px 5px 0px 5px;
    padding-right: 0px;
    border-radius: 10px;

}

.fei p{
    margin-top: 50px;
    font-size: 15px;
}
.por1{
    background-image: url('../imagem/port.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.pep1{
    background-image: url('../imagem/pep.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.mar1{
    background-image: url('../imagem/mar.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.qq1{
    background-image: url('../imagem/qq.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.nap1{
    background-image: url('../imagem/nap.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.at1{
    background-image: url('../imagem/atm.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    background-color: black;
    height: 80px;
    width: 100%;
}
.cub1{
    background-image: url('../imagem/cub.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.mor1{
    background-image: url('../imagem/mor.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.bri1{
    background-image: url('../imagem/bri.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.ban1{
    background-image: url('../imagem/bec.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.rej1{
    background-image: url('../imagem/rej.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.cho1{
    background-image: url('../imagem/cho.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.bbd{
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 65%;
}
.coro1{
    background-image: url('../imagem/cor.webp');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.bud1{
    background-image: url('../imagem/bud.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.hein1{
    background-image: url('../imagem/hei.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.litr1{
    background-image: url('../imagem/litr.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.cuja1{
    background-image: url('../imagem/mara.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.lar1{
    background-image: url('../imagem/lar.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.baca{
    background-image: url('../imagem/baca.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.lim1{
    background-image: url('../imagem/lim.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.lata1{
    background-image: url('../imagem/lata.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.red1{
    background-image: url('../imagem/bull.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.refri2l{
    background-image: url('../imagem/2lit.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.ref1l{
    background-image: url('../imagem/1lit.png');
    width:108px;
    height: 108px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.pai1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.foto2{
    background-image: url('../imagem/calabresa.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.pai2{
    display: flex;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    gap:30px;

}


.voltarPizza{
    border: none;
    

}
.filho3 input{
    transform: scale(1.5);                         
    margin-right: 10px;
    margin-bottom: 10px;
}

.filho3 p {

    font-size: 15px;
    color: #888;


}
.h3cor{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;                       
    width: 100%;
    height: 40px;
    padding: 1%;

    
   
}
.alin{
    display: flex;
    justify-content: space-between;
}
.filho1{
    display:flex;
    width: 100%;                          
}
.filho2{
    border: solid 1px black;
    width: 100%;
}                                              


.filho3{
    width: 100%;
    padding: 2%;                   
   
}
.centro{
   text-align: center;
   width: 100%;                         
}
.h30{
    background-color: black;
    color:white;                       
    height: 40px;
    padding: 10px;
}
textarea {
    
    width: 100%;             
    padding: 10px;
    border: 1px solid #ccc;               
    border-radius: 4px;                        
    resize: none; 
    box-sizing: border-box;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.bttm2 {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    background-color: white;
}

.quantidade {
    font-size: 20px;
    width: 50px;
    text-align: center;    
    border: none;
}
.brd1{
    border: solid 1px black;
    border-radius: 10px;
}

.brd2{
    background-color: black;
    color: white;
    font-weight: bold;
}
.s1{
    margin-left: 30px;
}
.s2{
    margin-left: 50px;
}
.s3{
    margin-left: 40px;
}
.s4{
    margin-left: 40px;
}

small{
    color: gray;
}

.foto3{
    background-image: url('../imagem/cho.png'); 
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.pai4{
    display: flex;
    width:100%;                           
    padding: 10px;
    gap:20px;
}
.centro1{
    width:100%;
    text-align: center;                  
}
.text2{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;                      
    resize: none; 
    box-sizing: border-box;
}
.small_text2{
    font-size: 13px;
    color: gray;
}
.b1{
    margin-left: 95px;
}
.b2{
    margin-left: 130px;
}
.b3{
    margin-left: 31px;
}
.colun{
    width:100%;
    border-top:  solid 1px black;             
    padding-top: 10px;
}
.contador1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;                 
    gap: 50px;
    padding: 10px;
}
.foto4{
    background-image: url('../imagem/1lit.png');
    width:244px;
    height: 239px;
    background-position: center;                    
    background-size: cover;
    margin: auto;
}
.bordatop{
    border-top: solid 1px black;
}
.laranja1{
    background-image: url('../imagem/lar.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                      
    margin: auto;

}
.marg1{
    margin-left: 170px;
}
.heinecken1{
    background-image: url('../imagem/hei.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                         
    margin: auto;


}
.budwiser1{
    background-image: url('../imagem/bud.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                        
    margin: auto;


}
.litrinho1{
    background-image: url('../imagem/litr.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                         
    margin: auto;


}
.corona1{
    background-image: url('../imagem/cor.webp');
    width:213px;
    height: 232px;                                 
    background-position: center;
    background-size: cover;
    margin: auto;


}
.limao1{
    background-image: url('../imagem/lim.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                     
    margin: auto;

}
.abacaxi1{
    background-image: url('../imagem/baca.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                        
    margin: auto;

}
.maracuja1{
    background-image: url('../imagem/mara.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                 
    margin: auto;

}
.redbul{
    background-image: url('../imagem/bull.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;                 
    margin: auto;

}
.lata{
    background-image: url('../imagem/lata.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;          
    margin: auto;

}
.refri2{
    background-image: url('../imagem/2lit.png');
    width:213px;
    height: 232px;
    background-position: center;
    background-size: cover;               
    margin: auto;

}
.frango{
    background-image: url('../imagem/frango.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.portuguesa{
    background-image: url('../imagem/port.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.atum{
    background-image: url('../imagem/atm.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.queijo{
    background-image: url('../imagem/qq.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.pepperoni{
    background-image: url('../imagem/pep.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.marguerita{
    background-image: url('../imagem/mar.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.napolitana{
    background-image: url('../imagem/nap.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.romeu{
    background-image: url('../imagem/rej.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.cubana{
    background-image: url('../imagem/cub.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.brigadeiro{
    background-image: url('../imagem/bri.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.morango{
    background-image: url('../imagem/mor.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.banana{
    background-image: url('../imagem/bec.png');
    width:315px;
    height: 211px;
    background-position: center;
    background-size: cover;
    margin:auto;
}
.bbb{
    border: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.top1{
    margin-top: 30%;
}
.top2{
    margin-right: 75%;
}

.close {
    background-color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
}

.close:hover,
.close:focus {
    color: skyblue;
    text-decoration: none;
    cursor: pointer;
}
.call{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 

}
.conteudoCal{
    justify-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%; 
    max-width: 700px;
    position: relative;
    transform: translateY(-50%);
    top: 65%; 
    border-radius: 10px;
    overflow:hidden;                        
}

form{
    width: 100%;
    box-sizing: border-box;                    
}

.menu1{
    padding-top: 4px;
    background-color: #444;
    font-size: 24px;
    height: 100%;
    width: 100%;
    max-width: 260px;
    position: fixed;
    top: 49%;
    transform: translateY(-50%);
}
.menu1_cont{
    color: white;
    background-color: #444;
    display: flex;
    justify-content: space-around;
    gap: 90px;
}
.menu2_cont{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.menu2_cont div{
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    background-color: #444;
    color: white;
    font-size: 24px;
    width: 100%;
    max-width: 260px;
    margin-top: 20px;
    border-top: solid 1px white;
   

}

#wapp{
    display: none;
    background-color: rgb(107, 209, 237);
    color: #444;
    border-radius: 5px;
    padding-bottom: 10px;

}

#entrar{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    width: 100%;
    max-width: 260px;
    margin-top: 20px;
    border-top: solid 1px white;
   
}
#entrar:hover{
    color: skyblue;
    text-decoration: none;
    cursor: pointer;
}

.menuu{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);  
}
.transparente{
    background-color: #444;
    height: 70px;
}
.doce{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);          
}
.pizzaDoce{
    justify-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 100%;
    max-width: 700px; 
    position: relative;
    transform: translateY(-50%);
    top: 65%; 
    border-radius: 10px;                            

}

.escol{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding:20px 10px 20px 10px;
    border-bottom: solid #A7A2A2 1px;
    width: 100%;                              
}
.cons{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #A7A2A2;
    width: 100%;
    gap: 50px;
    padding-bottom: 10px;                          
}
.ret{
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    font-size: 20px;
    border: solid #A7A2A2 1px ;
    width: 30%;
    height: 100%;                              
}

.cont_endr{
    background-color: #fefefe;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    width: 30%;
    height: 70%;
    margin: auto;
    padding: 0;
    position: relative;                             
    top: 10%; 
    border-radius: 10px; 
    overflow: hidden; 

}


.ngr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px
}
.cent{
    justify-items: center;
}
#pdd{
    font-size: 12px;
    color: #888;                    
    width:100%;
}
.ngr input{
    width: 100%;
    height: 50px;                            
    border: solid 1px #a7a2a2
}
.pdd2{
    padding: 10px;                         
}
.cdd{
    font-size: 40px;                     
    padding-top: 20px;
    padding-bottom: 10px ;
    
}
.endr{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.top8{

    margin-top: 45px;
}
.refr1l{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);

}
.cervejas{

    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);


}

.cont_cerveja{

    justify-items: center;
    background-color: #fefefe;
    margin: auto; 
    padding: 0%;
    border: 1px solid white;
    width: 100%;                        
    max-width: 400px;                 
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 10px;
}

.cont_refr1l{
    justify-items: center;
    background-color: #fefefe;
    margin: auto; 
    padding: 0%;
    border: 1px solid #888;
    width: 100%;                          
    max-width: 400px; 
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 10px;
}
.top11{
    margin-top: 75px;
}
.top12{
    text-align: left;
}
.abacaxi{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);

}
.cont_abacaxi{
    justify-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 0%;
    border: 1px solid #888;
    width: 100%;                                
    max-width: 400px; 
    position: relative;
    top: 60%;
    transform: translateY(-50%); 
    border-radius: 10px;
}
#entrarC{
    display:none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);

}
.cont_entrarC{
background-color: #fefefe;
border: solid 1px black;
text-align: center;
font-size: 25px;
width: 30%;
height: 70%;
margin:auto;
padding-top: 10px;
padding-bottom: 30px;
border: 1px solid #888;
max-width: 500px;
position: relative;
transform: translateY(-50%);                      
top: 45%; 
border-radius: 10px;

}
.larg{
    width: 70%;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid 1px #91C1EE;
}
.corr{
    background-color:#91C1EE ;
}

.mleft{

    margin-left: 10px;
}

.RS{
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;    
  

}

.pedid{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);

}

.cont_pedid{
    background-color:#fefefe ;
    width: 100%;
    height: auto;
    max-width: 500px;
    display: flex;
    margin: auto ;
    position: relative;
    align-items: center;
    top: 10%;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    
}

.cont_1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: solid 1px rgb(228, 225, 220);
    gap: 110px;
    padding: 10px;
    border-radius: 5px;
}



.cont_2{
   display: flex;
   width: 100%;
   height: 100%;
   max-height: 400px;
   flex-direction: column;
   border: solid 1px rgb(228, 225, 220);
   border-radius: 5px;
   padding: 10px;
   align-items: center;
   gap:10px;
  
   
}

.pedidos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
    
}

.pedidos p{
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    height: auto;
    border: solid 1px rgb(228, 225, 220);
    padding: 10px;

}

.pedidos button{
    width: auto;
    display: none;
    font-size: 10px;
    border-radius: 5px;
    height: auto;
    border: solid 1px rgb(228, 225, 220);
    padding: 10px;

}

.pedidos button:hover{
    background-color: #6fefa0;
    color:rgb(150, 147, 147);

}




.btEeC{
    display: flex;
    gap:20px;
}

.btEeC button{
    font-size: 10px;
    border-radius: 5px;
    height: 40px;
    border: solid 1px rgb(228, 225, 220);
    padding: 10px;
    
}


.conf:hover{
    background-color: #6fefa0;
    color:rgb(150, 147, 147);
    
}
.excl:hover{
    background-color: red;
    color:white;
}

.cont_busca{
    width: 20%;
    position:absolute;
    top:5%;
    right: 6%;
    display: none;
}

.cont_busca input{
    height: 30px;
    width: 100%;
    border-radius:5px ;
}

input,textarea:focus{

    outline: none;

   
}

.regPedid{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);


}

.regPedido{
    width: 30%;
    margin: auto;
    background-color: rgb(245, 235, 216);
    position: relative;
    height: 80%;
    top:5%;
    padding: 5px;
    border-radius: 5px;
    
    
}

.regPedido div{
    background-color: #fefefe;
    width: auto;
    border: solid 1px orange;
    height: 100%;
}

.regPedido span{
    position: absolute;
    right: 5%;
    font-size: 25px;
}

.regPedido p{
    text-align: center;
}

.pagamento{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);


}

.paga_content{
    width: 30%;
    margin: auto;
    background-color: white;
    position: relative;
    height: 90%;
    top:10%;
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;

}

.paga_content input{
    transform: scale(2); 
    margin-right: 10px;
    margin-bottom: 10px;
}

.paga_content p{
    padding-bottom: 20px;
  
}

.paga_content textarea{
    height: 40px;
  
}


.paga_content button{
    width: 50%;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    margin-top: 2%;
}
.paga_content img{

    width: auto;
    margin-bottom: 10%;
    margin-left: 2%;

   
    
}

.cent button{
    padding: 10px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
}

.nc{
    display:none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.nc form{
    width: 30%;
    margin: auto;
    background-color: white;
    position: relative;
    height: 90%;
    top:30%;
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.nc button{
    width: 50%;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    margin-top: 2%;
}


.nc img{
    width: auto;
    margin-bottom: 10%;
}

.vermelho{
    color:red;
    font-size: 15px;
}

.cursor{
    cursor: pointer;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reviews-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .reviews-section p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .rating-form {
    margin-bottom: 20px;
  }
  
  .stars{
    display: flex;
    flex-direction: column;
  }
  
  .stars label {
    font-size: 30px;
    cursor: pointer;
    color: #FFD700
  }
  
  .stars input {
    transform: scale(1.5);
      margin: 10px;
    
  }
  
  textarea {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .btaval {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #ff6600;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btaval:hover {
    background: #ff3300;
  }
  
  .reviews .review {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  
  .review strong {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .review span{
    color: #FFD700
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    font-size: 12px;}


@media (max-width: 768px) { 

    .cont_pedid{
        width: 100%;
        height: 100%;
    }
   

    .paga_content{
        width: 100%;
        height: 100%;
        top: 0;

    }

    .nc form{
        width: 100%;
        height: 100%;
        top: 0;
    }
       

    .regPedido{
        width: 100%;
        top:0;
        height: 100%;
        
        
        
    }

    .menu{
        font-size: 30px;
    }

    .b0, .lupa{
        display:none;
    }


    ul{
        transform: scale(0.9);
        flex-wrap: wrap;
        padding: 0%;

    }
    .bebidas{
        transform: scale(0.9);
        flex-wrap: wrap;
        padding: 0%;

    }


    .pzatra{
        transform: scale(0.9);
        flex-wrap: wrap;
        padding: 0%;
      }

      .conteudoCal, .pizzaDoce{
        
            font-size: 20px; 
            width: 100%; 
            height: 100%; 
            margin: 0;
            padding: 0;
            position:fixed ;
            top: 50%; 
            left: 0;
            overflow: auto;
      }
    

    .filho1, .filho2, .filho3, .colun, .centro1 {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .pai3 {
        transform: scale(1.2); 
        margin-right: 5px;
    }

    .mleft{
        margin:auto;

    }




    .foto2, .frango, .portuguesa, .pepperoni, .marguerita, .atum, .queijo, .napolitana,
    .foto4,.romeu,.cubana,.brigadeiro,.morango,.banana
    {
        margin: auto;
    }

    .foto4, .laranja1, .heinecken1,.budwiser1,.litrinho1,.corona1,.limao1,
    .abacaxi1,.maracuja1,.redbul,.lata,.refri2{

        margin:auto;
    }

    .cont_entrarC{

        font-size: 20px;
        width: 100%; 
        height: 100%;
        margin: 0;
        padding: 0;
        position: fixed; 
        top: 50%; 
        left: 0; 
        overflow: hidden;

    }


    .cont_endr{

            font-size: 20px;
            width: 100%;
            height: 100%; 
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
           
            
    }

    .cont_refr1l, .cont_cerveja{
            width: 100%; 
            height: 100%;
            max-width: 500px;
            top: 50%; 
            
    }
        
    .cont_abacaxi{
              
            
            width: 100%; 
            max-width: 500px; 
            top: 56%; 

    }

    .cont_pedid{
       top:0%;
    }
    
    .cont_1{
        gap: 170px;
       
    }
          
        

        

}